.current-page-location {
    padding: 0.5rem 0;
    ._container {
        @include center-content();
        padding: 0 2rem;
        .location-text {
            color: $color-primary;
            list-style: none;
            padding: 0;
            @include md {
                width: 95%;
            }
            @include lg {
                width: 85%;
            }
            @include xl {
                width: 75%;
            }
            @include xxl {
                width: 64%;
            }
            li {
                display: inline-block;
                color: $color-secondary;
                font-weight: $font-weight-medium;
                a {
                    color: $color-primary;
                    text-decoration: none;
                    &:hover {
                        color: $color-secondary;
                    }
                }
                &+li:before {
                    color: $color-primary;
                    content: "\00a0>\00a0";
                    font-weight: $font-weight-regular;
                }
            }
        }
    }
}