footer {
  @include center-content();
  background-color: $color-gray-10;
  border: 1px solid $color-gray-40;
  bottom: 0;
  flex-direction: column;
  height: 6.5rem;
  position: static;
  width: 100%;
  .socials {
    padding: 1rem 0;
    a {
      color: $color-primary;
      padding: 0 0.3rem;
      &:hover {
        color: $color-secondary;
        transition: all 0.1s ease-in-out;
      }
    }
  }
}