.showcase {
  background-color: $color-gray-30;
  ._container {
    @include center-content();
    padding: 0;
    > img {
      display: none;
      @include md {
        display: block;
        padding-top: 5rem;
        width: 25%;
      }
      @include lg {
        width: 30%;
      }
    }
    .showcase-text {
      @include center-content();
      flex-direction: column;
      padding: 2rem 0;
      text-align: center;
      @include md {
        padding: 0;
      }
      @include lg {
        width: 50%;
      }
      .showcase-header {
        font-size: $font-size-65;
        font-weight: $font-weight-extra-bold;
      }
      .showcase-p {
        @include center-content();
        @include lg {
          width: 100%;
        }
      }
    }
  }
}