.product-grid {
    padding: 2rem 0;
  ._container {
    flex-direction: column;
    .product-h1 {
      display: flex;
      font-size: $font-size-20;
      font-weight: $font-weight-bold;
      justify-content: center;
      padding-bottom: 1rem;
    }
    .grid {
      $bs-gutter-x: 1.5rem;
      $bs-gutter-y: 0;
      display: flex;
      flex: 0 0 auto;
      flex-wrap: wrap;
      gap: 1rem;
      justify-content: center;
      margin-left: calc(-0.5 * $bs-gutter-x);
      margin-right: calc(-0.5 * $bs-gutter-x);
      margin-top: calc(-1 * $bs-gutter-y);
      width: 100%;
      @include xl {
        width: 80%;
      }
    }
  }
}
