.product-discount-section {
    ._container {
        @include center-content();
        .discount-link {
            text-decoration: none;
            .discount-text {
                color: $color-secondary;
                font-size: $font-size-16;
                padding: 2rem 1rem 1rem 1rem;
            }
        }
    }
}