.shopping-benefits {
    ._container {
        @include center-content();
        border-top: 1px solid #707070;
        flex-direction: column;
        padding: 3rem 0 0 0;
        width: 100%;
        @include lg {
            flex-direction: row;
        }
        .benefits {
            @include center-content();
            flex-direction: column;
            padding: 1rem .1rem;
            i {
                @include center-content();
                border-radius: $border-radius-rounded;
                box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
                font-size: 1.5rem;
                height: 60px;
                margin: 0 0.3rem;
                padding: 0.6rem;
                width: 60px;
            }
            .benefits-h2 {
                font-size: $font-size-20;
                padding: 2rem 0 1rem 0;
            }
            .benefits-p {
                font-size: $font-size-16;
                text-align: center;
                width: 80%;
            }
        }
    }
}