.top-products {
    padding: 3rem 0;
    ._container {
        @include center-content();
        .top-products-flex {
            display: flex;
            flex-direction: column;
            padding: 1rem 0 0 0;
            @include md {
                flex-direction: row;
                justify-content: center;
                width: 95%;
            }
            @include lg {
                width: 100%;
            }
            @include xl {
                width: 100%;
            }
            @include xxl {
                width: 64%;
            }
            .grid {
                width: calc(100% /3);
                .product-h1 {
                    font-size: $font-size-20;
                    font-weight: $font-weight-bold;
                }
                .product {
                    display: flex;
                    padding: 0.5rem 0;
                    .product-img {
                        height: 200px;
                        width: 200px;
                    }
                    .product-info {
                        align-items: flex-start;
                        padding: 0 0 0 0.5rem;
                        width: 50%;
                        .product-category {
                            font-size: $font-size-13;
                            font-weight: $font-weight-medium;
                        }
                        .product-name {
                            font-size: $font-size-16;
                            font-weight: $font-weight-semi-bold;
                        }
                        .price {
                            font-size: $font-size-18;
                            font-weight: $font-weight-semi-bold;
                        }
                    }
                }
            }
        }
    }
}