.two-for-deal-49 {
  padding: 1rem 0 2rem 0;
  ._container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    @include lg {
      flex-direction: row;
      gap: 45px;
      height: 660px;
    }
    .grid-two-for {
      column-gap: 2.5rem;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      @include md {
        display: grid;
        grid-template-columns: repeat(2, minmax(100px, 15rem));
        grid-template-rows: repeat(2, minmax(100px, 1fr));
        height: 100%;
        padding: 0;
        width: 100%;
      }
      @include lg {
        padding-top: 0;
      }
      .product {
        height: 100%;
        .product-info {
          align-items: flex-start;
          display: flex;
          flex-direction: column;
          justify-content: center;
          .product-category {
            color: $color-muted;
            font-size: $font-size-13;
          }
          .product-title {
            font-size: $font-size-16;
          }
          .price {
            .discount-price {
              .current-price {
                font-size: $font-size-18;
              }
            }
          }
        }
      }
    }
    .two-for {
      @include center-content();
      background-color: #bbbbbb;
      color: $color-white;
      flex-direction: column;
      height: 100%;
      margin-bottom: 2rem;
      padding: 2rem 0;
      text-align: center;
      width: 100%;
      @include lg {
        margin: 0;
        margin-bottom: 0;
        padding: 0;
      }
      .two-for-header {
        font-size: $font-size-45;
        font-weight: $font-weight-bold;
        padding: 0 1rem;
        @include lg {
          padding: 0;
        }
      }
    }
  }
}