.center-content {
  align-items: center;
  display: flex;
  justify-content: center;
}

.d-flex {
  display: flex;
}

html,
body {
  color: $font-color;
  @include default-font();
  margin: 0;
  padding: 0;
}

._container {
  @include center-content();
  padding: 0;
  @include md {
    padding: 0 1.5rem;
  }
  @include xl {
    padding: 0 4.5rem;
  }
  @include xxl {
    padding: 0 6rem;
  }
  @include xxxl {
    padding: 0 8rem;
  }
}

.btn-theme {
  @include center-content();
  border: none;
  color: $color-white;
  font-weight: $font-weight-semi-bold;
  padding: 1rem 3rem;
  position: relative;
  text-decoration: none;
  &::before,
  &::after {
    content: "";
    height: 20px;
    position: absolute;
    width: 20px;
  }
  &::before {
    border-left: 2px solid $color-white;
    border-top: 2px solid $color-white;
    left: 5%;
    top: 15%;
  }
  &::after {
    border-bottom: 2px solid $color-white;
    border-right: 2px solid $color-white;
    bottom: 15%;
    right: 5%;
  }
}

.btn-theme-product {
  padding: 0.7rem 3rem;
  width: 100%;
  &::before {
    left: 4%;
    top: 17%;
  }
  &::after {
    bottom: 17%;
    right: 4%;
  }
}

.btn-black {
  background-color: $color-primary;
  color: $color-white;
  &:hover {
    background-color: $color-white;
    color: $color-primary;
    &::before {
      border-left: 2px solid $color-primary;
      border-top: 2px solid $color-primary;
      left: 5%;
      top: 15%;
    }
    &::after {
      border-bottom: 2px solid $color-primary;
      border-right: 2px solid $color-primary;
    }
  }
}

.btn-red {
  background-color: $color-secondary;
  color: $color-white;
  &:hover {
    background-color: $color-white;
    color: $color-secondary;
    &::before {
      border-left: 2px solid $color-secondary;
      border-top: 2px solid $color-secondary;
      left: 4%;
      top: 16%;
    }
    &::after {
      border-bottom: 2px solid $color-secondary;
      border-right: 2px solid $color-secondary;
      bottom: 16%;
      right: 4%;
    }
  }
}

.btn-white {
  background-color: $color-white;
  color: $color-primary;
  &:hover {
    background-color: $color-primary;
    color: $color-white;
    &::before {
      border-color: $color-white;
    }
    &::after {
      border-color: $color-white;
    }
  }
  &::before {
    border-left: 2px solid $color-primary;
    border-top: 2px solid $color-primary;
    left: 4%;
    top: 16%;
  }
  &::after {
    border-bottom: 2px solid $color-primary;
    border-right: 2px solid $color-primary;
    bottom: 16%;
    right: 4%;
  }
}